/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root {
	--header-height: 3rem;

	/*========== Colors ==========*/
	--first-color: #069c54;
	--first-color-alt: #048654;
	--background-icon-color: #c3f6c3;
	--icon-color: #1bb21b;
	--title-color: #393939;
	--text-color: rgb(33, 43, 54);
	--nav-text-color: #ffffff;
	--text-color-light: #a6a6a6;
	--body-color: #fbfefd;
	--container-color: #ffffff;

	/*========== Font and typography ==========*/
	--body-font: 'Poppins', sans-serif;
	--biggest-font-size: 2.25rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;

	/*========== Margins ==========*/
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
}

@media screen and (min-width: 768px) {
	:root {
		--biggest-font-size: 4rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/* ====== PAGE CSS starts here ======  */
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	background: transparent;
}

/* Change background header */
.scroll-header {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: var(--body-color);
}
.nav-container {
	max-width: 960px;
	width: calc(100% - 2rem);
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
}
/*========== NAV ==========*/
.nav {
	max-width: 1024px;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	margin-bottom: var(--mb-2);
}
.nav-logo,
.nav-link,
.nav-toggle {
	color: var(--nav-text-color);
	font-weight: var(--font-medium);
}
.nav-scroll-logo,
.nav-scroll-link,
.nav-scroll-toggle {
	color: var(--text-color);
	font-weight: var(--font-medium);
}
.nav-logo,
.nav-scroll-logo {
	padding-top: 0.4rem;
	font-size: var(--h2-font-size);
}
.nav-logo > img {
	width: 100%;
	height: auto;
}

.nav-link,
.nav-scroll-link {
	/* transition: 0.3s */
	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.nav-logo:hover,
.nav-link:hover,
.nav-scroll-link:hover,
.nav-scroll-logo:hover {
	color: var(--first-color);
}

.nav-toggle {
	/* font-size: 1.6rem; */
	cursor: pointer;
}

/* Active menu */
.active-link {
	color: #00ab55;
}
/* Header Section */

.header-section {
	position: relative;
	height: 600px;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
		url('../../images/landing.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	transform: scaleX(-1);
}
.halfway-section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.halfway-content {
	position: absolute;
	background: #fff;
	z-index: 2;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	min-height: 150px;
	width: 65%;
	border-radius: 7px;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
		rgb(145 158 171 / 24%) 0px 16px 32px -4px;
}
/*========== BUTTONS ==========*/
.button {
	display: inline-block;
	background-color: var(--first-color);
	color: #fff;
	padding: 0.45rem 1rem;
	border-radius: 0.5rem;
	transition: 0.3s;
}

.button:hover {
	background-color: var(--first-color-alt);
}

.change-theme {
	color: var(--nav-text-color);
}
/* Scroll top */
.scrolltop {
	position: fixed;
	right: 1rem;
	bottom: -20%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.3rem;
	background: rgba(6, 156, 84, 0.5);
	border-radius: 0.4rem;
	z-index: var(--z-tooltip);
	transition: 0.4s;
	visibility: hidden;
}

.scrolltop:hover {
	background-color: var(--first-color-alt);
}

.scrolltop-icon {
	font-size: 1.8rem;
	color: var(--body-color);
}

/* Show scrolltop */
.show-scroll {
	visibility: visible;
	bottom: 1.5rem;
}

/*========== CLASS CSS ==========*/
.section {
	padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
	text-align: center;
}

.section-title {
	font-size: var(--h1-font-size);
	color: var(--title-color);
	margin-bottom: var(--mb-3);
}
.team-title {
	font-size: var(--h2-font-size);
	color: var(--title-color);
	margin-bottom: var(--mb-3);
}

.section-subtitle {
	display: block;
	color: var(--first-color);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-1);
}

/*========== OBJECTIVE ==========*/
.bd-grid {
	display: grid;
	gap: 1.5rem;
}

.bd-container {
	max-width: 960px;
	width: calc(100% - 2rem);
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
}

.bd-grid {
	display: grid;
	gap: 1.5rem;
}

.objective-container {
	row-gap: 2.5rem;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.objective-content {
	text-align: center;
}

.objective-img {
	width: 64px;
	height: 64px;
	fill: var(--first-color);
	margin-bottom: var(--mb-2);
}

.objective-title {
	font-size: var(--h3-font-size);
	color: var(--title-color);
	margin-bottom: var(--mb-1);
}

.objective-description {
	padding: 0 1.5rem;
}
/*========== SERVICES ==========*/
.menu__container {
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-evenly;
}

.services-icon {
	margin-bottom: var(--mb-1);
	background-color: rgba(57, 108, 240, 0.05) !important;
	border-radius: 7px;
	height: 65px;
	width: 65px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.services-icon > i {
	color: var(--icon-color);
}
.services-subtitle {
	display: block;
	font-size: var(--h3-font-size);
	color: var(--title-color);
	font-weight: var(--font-medium);
}
.services-description {
	font-size: var(--small-font-size);
}
/*========== POLICY ==========*/
.policy-data {
	text-align: center;
}

.policy-description {
	margin-bottom: var(--mb-3);
}

.policy-img {
	width: 280px;
	border-radius: 0.5rem;
	justify-self: center;
}
/*========== FOOTER ==========*/
.footer__container {
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	row-gap: 2rem;
}

.footer__logo {
	font-size: var(--h3-font-size);
	color: var(--first-color);
	font-weight: var(--font-semi-bold);
}

.footer__description {
	display: block;
	font-size: var(--small-font-size);
	margin: 0.25rem 0 var(--mb-3);
}

.footer__social {
	font-size: 1.5rem;
	color: var(--title-color);
	margin-right: var(--mb-2);
}

.footer__title {
	font-size: var(--h2-font-size);
	color: var(--title-color);
	margin-bottom: var(--mb-2);
}

.footer__link {
	display: inline-block;
	color: var(--text-color);
	margin-bottom: var(--mb-1);
}

.footer__link:hover {
	color: var(--first-color);
}

.footer__copy {
	text-align: center;
	font-size: var(--small-font-size);
	color: var(--text-color);
	margin-top: 3.5rem;
}

/* Team section */
.team-section {
	overflow: hidden;
	text-align: center;
	/* background: #069c54; */
	padding: 60px;
}
.team-section h1 {
	margin-bottom: 40px;
	color: var(--title-color);
	font-size: 40px;
	font-weight: var(--font-medium);
}
.border {
	display: block;
	margin: auto;
	width: 160px;
	height: 3px;
	background: #002240;
	margin-bottom: 40px;
}
.ps {
	margin-bottom: 40px;
}
.ps a {
	display: inline-block;
	margin: 0 30px;
	width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 50%;
}
.ps a img {
	/* width: 100%; */
	filter: grayscale(100%);
	transition: 0.4s all;
}
.ps a:hover > img {
	filter: none;
}
.card-section {
	width: 600px;
	margin: auto;
	font-size: 20px;
	color: #fff;
	text-align: justify;
	height: 0;
	overflow: hidden;
}
.section:target {
	height: auto;
}
.name {
	display: block;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
}

/* Features Section */
/* Features */
.features-container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}
.my-2 {
	margin: 1.5rem 0;
}
.card {
	background-color: #fff;
	color: #333;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
		0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
	border-radius: 7px;
}
.features-head img {
	width: 200px;
	justify-self: flex-end;
}
.features-sub-head img {
	width: 300px;
	justify-self: flex-end;
}
.features-main > h1 {
	margin-bottom: 40px;
	font-weight: var(--font-medium);
	color: var(--title-color);
	font-size: 40px;
	text-align: center;
}
.features-main .card > i {
	margin-right: 20px;
}
.features-main .grid {
	padding: 30px;
}
.features-main .grid > *:first-child {
	grid-column: 1 / span 3;
}
.features-main .grid > *:nth-child(2) {
	grid-column: 1 / span 2;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		padding: 1.5rem 0 1rem;
		text-align: center;
		background-color: var(--body-color);
		transition: 0.4s;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		border-radius: 0 0 1rem 1rem;
		z-index: var(--z-fixed);
	}
	.nav-link,
	.nav-logo,
	.nav-toggle {
		color: var(--text-color);
		font-weight: var(--font-medium);
	}
	.header {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: var(--z-fixed);
		background: var(--body-color);
	}
	/* Show menu */
	.show-menu {
		top: var(--header-height);
	}
	.grid,
	.features-main .grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.features-main .grid > *:first-child,
	.features-main .grid > *:nth-child(2) {
		grid-column: 1;
	}
}

@media screen and (min-width: 775px) {
	body {
		margin: 0;
	}

	.section {
		padding-top: 8rem;
	}

	.nav {
		height: calc(var(--header-height) + 1.5rem);
	}
	.nav-list {
		display: flex;
		align-items: center;
	}
	.nav-item {
		margin-left: var(--mb-5);
		margin-bottom: 0;
	}

	.sign-button {
		margin-left: var(--mb-5);
	}

	.nav-toggle,
	.nav-scroll-toggle {
		display: none;
	}

	.change-theme,
	.change-theme-scroll {
		position: initial;
		margin-left: var(--mb-2);
	}

	.home__container {
		height: 100vh;
		justify-items: center;
	}

	.objective-container,
	.menu__container {
		margin-top: var(--mb-6);
	}

	.menu__container {
		grid-template-columns: repeat(3, 200px);
		gap: 2rem;
	}
	.app__store {
		margin: 0 var(--mb-1) 0 0;
	}
}
@media screen and (min-width: 960px) {
	.nav-container {
		margin-left: auto;
		margin-right: auto;
	}

	.bd-container {
		margin-left: auto;
		margin-right: auto;
	}

	.home__img {
		width: 500px;
	}

	.policy-container,
	.app-container {
		column-gap: 7rem;
	}
}

@media screen and (min-width: 576px) {
	.home__container,
	.policy-container,
	.app__container {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}

	.policy-data,
	.policy-initial,
	.app__data,
	.app__initial,
	.contact__container,
	.contact__initial {
		text-align: initial;
	}

	.policy-img,
	.app__img {
		width: 380px;
		order: -1;
	}

	.contact__container {
		grid-template-columns: 1.75fr 1fr;
		align-items: center;
	}
	.contact__button {
		justify-self: center;
	}
}
