/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root {
	--header-height: 5rem;

	/*========== Colors ==========*/
	--first-color: #069c54;
	--first-color-alt: #048654;
	--title-color: #393939;
	--text-color: #707070;
	--text-color-light: #a6a6a6;
	--body-color: #fbfefd;
	--container-color: #ffffff;

	/*========== Font and typography ==========*/
	--body-font: 'Poppins', sans-serif;
	--biggest-font-size: 2.25rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;

	/*========== Margins ==========*/
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
}

@media screen and (min-width: 768px) {
	:root {
		--biggest-font-size: 4rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: var(--body-color);
}
.nav-container {
	max-width: 960px;
	width: calc(100% - 2rem);
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
}
/*========== NAV ==========*/
.nav {
	max-width: 1024px;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	margin-bottom: var(--mb-2);
}
.nav-link,
.nav-logo,
.nav-toggle {
	color: var(--text-color);
	font-weight: var(--font-medium);
}

.nav-logo:hover {
	color: var(--first-color);
}

.nav-link {
	transition: 0.3s;
}

.nav-link:hover {
	color: var(--first-color);
}

.nav-toggle {
	font-size: 1.6rem;
	cursor: pointer;
}

/* Show menu */
.show-menu {
	top: var(--header-height);
}

/* Active menu */
.active-link {
	color: var(--first-color);
}
/* Change background header */
.scroll-header {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
	position: fixed;
	right: 1rem;
	bottom: -20%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.3rem;
	background: rgba(6, 156, 84, 0.5);
	border-radius: 0.4rem;
	z-index: var(--z-tooltip);
	transition: 0.4s;
	visibility: hidden;
}

.scrolltop:hover {
	background-color: var(--first-color-alt);
}

.scrolltop__icon {
	font-size: 1.8rem;
	color: var(--body-color);
}

/* Show scrolltop */
.show-scroll {
	visibility: visible;
	bottom: 1.5rem;
}

/*========== CLASS CSS ==========*/
.section {
	padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
	text-align: center;
}

.section-title {
	font-size: var(--h1-font-size);
	color: var(--title-color);
	margin-bottom: var(--mb-3);
}
.team-title {
	font-size: var(--h2-font-size);
	color: var(--title-color);
	margin-bottom: var(--mb-3);
}

.section-subtitle {
	display: block;
	color: var(--first-color);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-1);
}

/*========== SERVICES ==========*/
.bd-grid {
	display: grid;
	gap: 1.5rem;
}

.bd-container {
	max-width: 960px;
	width: calc(100% - 2rem);
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
}

.bd-grid {
	display: grid;
	gap: 1.5rem;
}

.services-container {
	row-gap: 2.5rem;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services-content {
	text-align: center;
}

.services-img {
	width: 64px;
	height: 64px;
	fill: var(--first-color);
	margin-bottom: var(--mb-2);
}

.services-title {
	font-size: var(--h3-font-size);
	color: var(--title-color);
	margin-bottom: var(--mb-1);
}

.services-description {
	padding: 0 1.5rem;
}

/*========== FOOTER ==========*/
.footer__container {
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	row-gap: 2rem;
}

.footer__logo {
	font-size: var(--h3-font-size);
	color: var(--first-color);
	font-weight: var(--font-semi-bold);
}

.footer__description {
	display: block;
	font-size: var(--small-font-size);
	margin: 0.25rem 0 var(--mb-3);
}

.footer__social {
	font-size: 1.5rem;
	color: var(--title-color);
	margin-right: var(--mb-2);
}

.footer__title {
	font-size: var(--h2-font-size);
	color: var(--title-color);
	margin-bottom: var(--mb-2);
}

.footer__link {
	display: inline-block;
	color: var(--text-color);
	margin-bottom: var(--mb-1);
}

.footer__link:hover {
	color: var(--first-color);
}

.footer__copy {
	text-align: center;
	font-size: var(--small-font-size);
	color: var(--text-color-light);
	margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/

@media screen and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		padding: 1.5rem 0 1rem;
		text-align: center;
		background-color: var(--body-color);
		transition: 0.4s;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		border-radius: 0 0 1rem 1rem;
		z-index: var(--z-fixed);
	}
}
@media screen and (min-width: 768px) {
	body {
		margin: 0;
	}

	.section {
		padding-top: 8rem;
	}

	.nav {
		height: calc(var(--header-height) + 1.5rem);
	}
	.nav-list {
		display: flex;
	}
	.nav-item {
		margin-left: var(--mb-5);
		margin-bottom: 0;
	}
	.nav-toggle {
		display: none;
	}

	.change-theme {
		position: initial;
		margin-left: var(--mb-2);
	}

	.home__container {
		height: 100vh;
		justify-items: center;
	}

	.services-container,
	.menu__container {
		margin-top: var(--mb-6);
	}

	.menu__container {
		grid-template-columns: repeat(3, 210px);
		column-gap: 4rem;
	}
	.menu__content {
		padding: 1.5rem;
	}
	.menu__img {
		width: 130px;
	}

	.app__store {
		margin: 0 var(--mb-1) 0 0;
	}
}
@media screen and (min-width: 960px) {
	.nav-container {
		margin-left: auto;
		margin-right: auto;
	}

	.bd-container {
		margin-left: auto;
		margin-right: auto;
	}

	.home__img {
		width: 500px;
	}

	.about__container,
	.app__container {
		column-gap: 7rem;
	}
}
